{
    "name": "{{ webgme_app_name }}",
    "script": "app.js",
    "cwd": "/home/{{ ansible_user }}/{{ webgme_app_name }}",
    "env": {
        "baseUrl": "/home/{{ ansible_user }}/{{ webgme_app_name }}"
    }
}
